.bg-primary {
   background-color: darkgray !important;
}

body {
   background-color: blue;
}

.container-fluid {
   padding: 0px;
}

.sidebar {
   background-color: pink;
}

.main {
   background-color: yellow;
   width: 100%;
   display: flex;
   overflow:scroll;
}

.timeline {
   background-color: lightgray;
   display: flex;
   
}

.video-container {
   display: flex;
   flex-direction: column;
   background-color: green;
   padding: 0px;
   width: 300px;
   height: 100%;
   
}
.video-container:hover {
   background-color: darkgreen;
   cursor: pointer;
}
